<h1>All Feeds</h1>

<ul>
  <% feeds.forEach( function(feed) { %>
  <li>
    <a href="#api/feeds/<%= feed.id %>"> <%= feed.escape('title') %></a>
    <button class="delete-feed" data-id="<%= feed.id %>">X</button>
  </li>
  <% }); %>
</ul>

<% if (errors) { %>
  <%= errors['error'] %>
<% } %>

<h3>Add a feed</h3>

<form id="new-feed">
  <label for="feed-url">Feed Link</label>
  <input type="text" id="feed-url" name="feed[url]">
  <input type="submit" value="Make feed">
</form>